.all_reg{
  height: 72vh;
}
.link_auto{
  color: #130065;
  font-size: 22px;
}
input:required:valid {
  border-color: blue;
}
.loader_add{
background: url(images/loader.gif) no-repeat 58%;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  margin: 0 auto;
  height: auto;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin .form-control{
  margin-bottom:20px;
}
.bg-secondary .text-danger{
margin-top: -20px;
height: 20px;
}
.bg-secondary{
  overflow:hidden;
}
