 @media (max-width: 1250px) {
	.settings{
		margin-top: 50px;
		left: 60%;
		width: 250px;	
	}
	body #info{
		margin-top: 75px
	}


}
@media (min-width: 1120px) {
	.settings{
		margin-top: 20px;
	}
	body #info{
		margin-top: 50px
	}


}
@media (max-width: 870px) {

 html body .TextUserMass{
		margin-left: 25%;
	}
}

@media (max-width: 610px) {
	.settings{
		margin-top: 50px;
		width: 80%;
		left:10%;
	}
	body	.ImgUserMess{
		max-width: 80px;
	}
	 html body .TextUserMass{
		margin-left: 27%;
	}
}


@media (max-width: 500px) {
	.settings{
		margin-top: 80px;
		width: 80%;
		left:10%;
	}
	body	.ImgUserMess{
		max-width: 70px;
	}

}
@media (max-width: 440px) {
	.settings{
		margin-top: 70px;
		
	}
 body	.ImgUserMess{
		max-width: 70px;
	}
	 html body .TextUserMass{
		margin-left: 32%;
	}
}
@media (max-width: 310px) {
	.settings{
		margin-top: 70px;
		width: 92%;
		left:5%;
	}
body .heightMess{
		margin-top: 80px;
	}
	html body .TextUserMass{
		margin-left: 45%;
		font-size: 12px;
	}
	body .dateTimeMess{
	font-size: 8px;
}
}




body{
	background:#EA4335;
}
input{
	height: 50px;
}
body a:active,body a:visited ,body a:hover,body a {
	color: yellow;
}


/* chat */
.coloRewin{
	background:#EA4335;
	height: 150px;
	z-index: 1;
}
.massegeWrite{
	max-width: 500px;
	max-height: 60px;
}
body .clickMasseges{
	max-width: 500px;
}
body .noneclick {
	float: right;
}
.exitOne{
	margin-left: 65%;
}
.heightMess{
	min-height: 1500px;
	color:black;
}
form .NowyouNeed{
	color: #35EA38;
}
fieldset{
	position: fixed;
	left: 70%;
	background-color:#545E68; 
	color: black;
	top: 15px;
	z-index: 10;
}
fieldset input{
	height: 30px;
}

legend{
	margin:0;
	padding-top: 20px;
}
.file-upload input{
	display: none;
}

html body .DonloadPicture{
	color: #87D000;
}
html body .ChangePicture{
	color: white;
}
body .reGistr{
  color: red;
}
.figure{
	margin-bottom: 0;
}

body .massegeUser{
    display: block;	
	margin-top: 5px;
	border-top: 1px solid white;
	max-width: 76%;
	min-height: 170px;
}
body .author{
	font-size: 20px;
	color: #AF2156;
}
html body .dateTimeMess{
	font-size: 12px;
	color: #222565;
	padding-left: 20px;
}
body #info {
	padding-top: 20px;
	margin-bottom: 150px;
}
body .TextUserMass{
	margin-top: -20px;
	margin-left: 15%;
	width: 90%;
	 word-break: break-all;
}

 body .settings{
 	z-index: 10;
 }
 